<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/welcome">Simple Task Manager</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/login" mat-stroked-button color="basic">Sing in</a>
            </li>
            <li>
                <a routerLink="/register" mat-stroked-button color="basic">Sing up</a>
            </li>
        </ul>
    </div>
</mat-toolbar>