.navbar {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    background-color: #e9ecef;
}

.navbar-brand {
    font-size: x-large;
    margin-right: 3rem;
    color: #6c757d;
}

.navbar-nav {
    font-size: large;
    color: #6c757d;
}