.navbar {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    background-color: #e9ecef;
    position: fixed;
    width: 100%;
}

.navbar-brand {
    font-size: x-large;
    margin-right: 3rem;
    color: #6c757d;
}

.navbar-nav {
    font-size: medium;
    color: #6c757d;
}

.nav-link {
    padding: 10px 5px 0 5px;
}