.container {
    color: #3f51b5;
}

.mg-top {
    margin-top: 8%;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3f51b5;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #3f51b5;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #3f51b5;
}