<div class="text-secondary px-4 py-5 text-center">
    <div class="hero-container">
        <h1 class="display-5 fw-bold text-muted">Welcome to the Issue Tracker!</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4 lh-base">This is a simple Angular project with Spring Boot that allow you to manage
                your projects and join to existing ones, manage your tasks and distribute them between your team.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-secondary btn-lg px-4 me-sm-3">Log in</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Sign up</button>
            </div>
        </div>
    </div>
</div>