<section fxLayout="column" fxFlexAlign="stretch">
    <div fxFlexAlign="center">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Simple Task Manager</h1>
            <p class="lead">This is a simple project on Angular and Spring Boot that allow you to manage
                your projects and join to existing ones,</p>
            <p class="lead">manage your tasks and distribute them between your team.</p>
            <hr class="my-4">
            <p>Start your jouney here</p>
            <p class="lead">
                <a [style.margin-right]="'15px'" routerLink="/login" mat-stroked-button color="basic">Sing in</a>
                <a routerLink="/register" mat-stroked-button color="basic">Sing up</a>
            </p>
        </div>
    </div>
</section>